@import url('https://fonts.googleapis.com/css2?family=Georama:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

body {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", Arial, sans-serif;
}
h1, h2, h3, p {
  margin: 0px;
}
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}